@import '~prismjs/themes/prism';

body {
  background-color: white;
}

header {
  h1 {
    font-size: 2.82843rem;
    line-height: 3.16rem;
    margin-bottom: 2.37rem;
    margin-top: 0px;
    text-align: center;
  }
}

.home {
  font-size: 1.25rem;
  padding: 2.37rem 1.185rem;
}

.MuiFormControl-root {
  margin: 0 !important;
}

@media print {
  header,
  nav {
    display: none;
  }
}

.page-break-before {
  page-break-before: always;
  @media print {
    margin-top: 1rem;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  .link-group {
    display: flex;
    align-items: center;
  }
}
